{% include header.html %}

<div class="splash first">
  <div class="hero">
    <h2>{{ locale.hero-sub }}</h2>
    <h1>{{ locale.hero }}</h1>
    <h1>{{ locale.hero2 }}</h1>
    <a href="mailto:info@np-complet.com" class="contact-button">{{ locale.contact-me }}</a>
  </div>
</div>

<div class="info">
  <div class="action-box left">
    <h3><i class="fa fa-question fa-3x"></i> {{ locale.action1 }}</h3>
    {{ locale.actiontext1 }}
  </div>
  <div class="action-box right">
    <h3><i class="fa fa-road fa-3x"></i> {{ locale.action2 }}</h3>
    {{ locale.actiontext2 }}
  </div>
  <div class="action-box left last">
    <h3><i class="fa fa-desktop fa-3x"></i> {{ locale.action3 }}</h3>
    {{ locale.actiontext3 }}
  </div>
</div>

<div class="clearfix"></div>

<div class="skill-bar">
  <i class="devicon devicon-windows8-original tooltip" data-tooltip="Windows"></i>
  <i class="devicon devicon-csharp-line tooltip" data-tooltip="C#, .Net"></i>

  <i class="devicon devicon-html5-plain tooltip" data-tooltip="HTML5"></i>
  <i class="devicon devicon-css3-plain tooltip" data-tooltip="CSS3"></i>
  <i class="devicon devicon-javascript-plain tooltip" data-tooltip="Javascript"></i>

  <i class="devicon devicon-jquery-plain-wordmark tooltip" data-tooltip="jQuery"></i>
  <i class="devicon devicon-bootstrap-plain tooltip" data-tooltip="Bootstrap"></i>
  <i class="devicon devicon-sass-original tooltip" data-tooltip="Sass"></i>

  <i class="devicon devicon-ruby-plain tooltip" data-tooltip="Ruby"></i>
  <i class="devicon devicon-git-plain tooltip" data-tooltip="Git"></i>
  <i class="devicon devicon-github-plain tooltip" data-tooltip="GitHub"></i>
  <i class="devicon devicon-linux-plain tooltip" data-tooltip="Linux"></i>
</div>

<div class="splash second">
  <a href="mailto:info@np-complet.com" class="contact-button contact-button-large">{{ locale.contact-me-2 }}</a>
</div>

<div class="me-box">
  <div class="portrait-box">
    <img class="portrait" src="./img/me.jpg">
  </div>
  <div class="bio-box">
    <h1>Gilles Leblanc</h1>
    <p>
      {{ locale.about-me }}
    </p>
    <p>
      <a class="social" href={{ locale.linkedin-profile }}><i class="fa fa-linkedin-square fa-2x"></i></a>
      <a class="social" href="https://gillesleblanc.wordpress.com/"><i class="fa fa-wordpress fa-2x"></i></a>
      <a class="social" href="https://github.com/gilles-leblanc"><i class="fa fa-github fa-2x"></i></a>
    </p>
  </div>
</div>

{% include footer.html %}
