---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

@import "header";
@import "footer";

$np-complet-green: #98cb60;
$np-complet-grey: #EFEFEF;

@font-face {
  font-family: 'FiraSansMedium';
  src: url("../fonts/FiraSans-Medium.otf");
}

@font-face {
  font-family: 'NotJustGroovy';
  src: url("../fonts/NotJustGroovy.ttf");
}

@font-face {
  font-family: 'DejaVuSans';
  src: url("../fonts/DejaVuSans.ttf");
}

body {
  padding: 0;
  margin: 0;
}

.clearfix {
  clear: left;
}

.tooltip {
  cursor: default;
  display: inline;
  position: relative;
}

.tooltip:hover:after {
  background: #333;
  background: rgba(0,0,0,.8);
  border-radius: 0.2em;
  color: #fff;
  content: attr(title);
  font-size: 20%;
  left: 20%;
  padding: 0.3em 0.9em;
  position: absolute;
  width: 5em;
}

.splash {
  color: white;
  text-align: center;
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.splash.first {
  background-image: url(../img/splash.jpg);
  min-height: calc(100vh - 49px);
}

.splash.second {
  align-items: center;
  background-image: url(../img/splash2.jpg);
  display: flex;
  height: 50vh;
  justify-content: center;
}

.hero {
  text-align: left;
  position: absolute;
  top: 20%;
}

.hero > h1 {
  color: white;
  font-family: 'FiraSansMedium', Verdana, sans-serif;
  font-size: 300%;
  margin: 0.2em 0.5em;
}

.hero > h2 {
  color: $np-complet-grey;
  font-family: 'NotJustGroovy', Verdana, sans-serif;
  font-size: 200%;
  margin-left: 0.8em;
}

@media (max-width: 750px) {
  .hero > h1 {
    font-size: 240%;
  }
}

@media (max-width: 400px) {
  .hero > h1 {
    font-size: 200%;
  }
}

@media (max-height: 480px) {
  .hero > h2 {
    display: none;
  }
}

.contact-button {
  border: 0.15em solid #fff;
  border-radius: 0.3em;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.13);
  display: inline-block;
  font-size: 120%;
  font-family: 'FiraSansMedium', Verdana, sans-serif;
  margin-left: 1.3em;
  padding: 0.5em;
  text-decoration: none;
  text-align: center;
  transition: background-color 0.2s ease-out,
              color 0.2s ease-out;
  width: 10em;
}

.contact-button:hover,
.contact-button:active {
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.8);
  color: $np-complet-green;
  transition: background-color 0.3s ease-in,
              color 0.3s ease-in;
}

@media (max-width: 486px) {
  .contact-button {
    display: none;
  }
}

.contact-button-large {
  display: inline-block;
  margin-left: 0;
  font-size: 160%;
}

.info {
  min-height: 50vh;
}

$default-margin: 5%;
$half-margin: $default-margin / 2;
$action-color: #58a;
$cutout-value: 1.5em;

.action-box {
  border: 1px solid #DEDEDE;
  border-radius: 0.3em;
  font-family: 'DejaVuSans', Verdana, sans-serif;
  max-width: 650px;
  margin-top: $half-margin;
  min-height: 16em;
  padding: $half-margin;
  width: calc(100% - 50px);
}

.action-box > h3 {
  font-family: 'FiraSansMedium', Verdana, sans-serif;
  font-size: 130%;
}

.action-box.left {
  float: left;
  margin-left: $default-margin;
}

.action-box.right {
  float: right;
  margin-right: $default-margin;
}

.action-box.last {
  clear: both;
  margin-bottom: $half-margin;
}

@media (max-width: 724px) {
  .action-box.left {
    float: none;
    margin-left: 10px;
  }

  .action-box.right {
    float: none;
    margin-left: 10px;
    margin-right: 0px;
  }
}

.devicon {
  display: inline-block;
  font-size: 500%;
  padding-bottom: 0.5em;
  padding-right: 1em;
  padding-top: 0.5em;
}

.skill-bar {
  color: white;
  background-color: $np-complet-green;
  min-height: 33vh;
  padding: 0 0 0 $default-margin;
}

@media (max-width: 520px) {
  .skill-bar {
    display: none;
  }
}

.me-box {
  align-items: center;
  display: flex;
  height: 20em;
  font-family: 'DejaVuSans', Verdana, sans-serif;
  padding-left: $half-margin;
  padding-right: $half-margin;
}

.portrait-box {
  flex-grow: 1;
  padding: $half-margin;
}

.bio-box {
  flex-grow: 2;
}

.bio-box > p {
  padding-bottom: 0.5em;
}

.bio-box > h1 {
  font-family: 'FiraSansMedium', Verdana, sans-serif;
}

.portrait {
  border-radius: 50%;
  float: left;

  height: 15vw;
  width: 15vw;

  min-height: 75px;
  min-width: 75px;

  max-height: 200px;
  max-width: 200px;
}

.social {
  color: black;
  padding-right: 0.3em;
}

.social:visited {
  color: black;
}
