<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>NP-complet | {{ page.title }}</title>
        <meta name="author" content="Gilles Leblanc">
        <meta name="keywords" content="NP-complet, consultant, Montreal">
        <meta property="og:title" content="NP-complet">
        <meta property="og:image" content="http://www.np-complet.com/img/og.png">
        <link rel="stylesheet" href="./css/main.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="./css/devicon.css">
        <link rel="shortcut icon" href="./img/favicon.ico" />
    </head>
    <body>
    {{ content }}
    </body>
</html>
